FLASK_APP=app
FLASK_DEBUG=true

# HeavyDB Credentials
HEAVYDB_HOST=
HEAVYDB_PORT=6274
HEAVYDB_DBNAME=
HEAVYDB_USERNAME=
HEAVYDB_PASSWORD=
HEAVYDB_PROTOCOL=http

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY=
