venv/

data/
storage/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/
security/report.html

dist/
build/
packages/
*.egg-info/

.DS_STORE

db/
langchain_call_log.db

config.toml
config.test.toml
.chroma/

eval/results/*.csv
*.log
testdb/
hf_models/

pyheavydb.whl.version
pyheavydb*.whl
*.sqlite
rag_storage/
