# Remainder of dependencies used for dev and the command line interface
black==23.7.0
chromadb==0.3.29
click==8.1.6
flake8==6.0.0
flake8-annotations==3.0.1
flake8-pep585==0.1.7
furo==2023.5.20
liccheck==0.9.1
mypy==1.4.1
pyarmor==8.2.9
sentence_transformers==2.2.2
sphinx==7.0.1
sphinx-click==4.4.0
tiktoken==0.4.0
