# Remainder of dependencies used for dev and the command line interface
aiocsv==1.2.4
autoflake==2.2.0
black==23.7.0
click==8.1.7
flake8==6.1.0
flake8-annotations==3.0.1
flake8-pep585==0.1.7
furo==2023.8.19
isort==5.12.0
liccheck==0.9.1
mypy==1.5.1
pyarmor==8.3.5
pytest==8.0.1
sphinx==7.2.5
sphinx-click==5.0.1
types-aiofiles==23.2.0.0
types-requests==2.31.0.2
pytest-asyncio==0.21.1
langserve==0.0.42
pytest-xdist==3.5.0
