# All dependencies required to run the REST API in Production
aiofiles==23.2.1
chromadb-pysqlite3==0.1.dev887
confz==2.0.1
connexion[swagger-ui]==2.14.2
fastapi==0.99.1
gunicorn==21.2.0
heavyai==1.1.0
langchain==0.0.278
langsmith==0.0.32
openai==0.27.8
pydantic==1.10.11
sentencepiece==0.1.99
sentence_transformers==2.2.2
SQLAlchemy==2.0.20
uvicorn[standard]==0.23.2
tiktoken==0.4.0
transformers==4.33.1
asgi-correlation-id==4.2.0
loguru==0.7.2
aiocsv==1.2.4
async-lru==2.0.4
