<!DOCTYPE html>

<head>
  <title>HeavyNL Quickstart</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='h_analyst_logo.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='h_analyst_logo.png') }}" class="icon" />
  <h3>Ask a Question</h3>
  <form action="/" method="post">
    <select name="table_name1" required>
      {% for table_name in tables %}
      <option value="{{ table_name }}" {% if selected_table_name1==table_name %} selected {% endif %}>{{ table_name }}
      </option>
      {% endfor %}
    </select>
    <select name="table_name2">
      <option value="">Optionally select a second table</option>
      {% for table_name in tables %}
      <option value="{{ table_name }}" {% if selected_table_name2==table_name %} selected {% endif %}>{{ table_name }}
      </option>
      {% endfor %}
    </select>
    <textarea type="text" name="user_question" placeholder="Enter a question about the selected dataset"
      required>{{ user_question }}</textarea>
    <input type="submit" value="Ask HeavyNL" />
  </form>
  {% if answer %}
  <div class="result">{{ answer }}</div>
  {% endif %}
  {% if sql %}
  <div class="result">{{ sql }}</div>
  {% endif %}
</body>
